<div class="container">

    <!-- <h5> Welcome {{loggedInUser.firstName}}</h5> -->
    <!-- <button type="button" class=" btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addUserModal">
        <i class="fa fa-plus"></i> New User
    </button> -->

    <div class="d-flex align-items-start my-4">
        <div class="nav flex-column nav-pills me-4 items" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="item nav-link active " id="v-pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                aria-selected="true" (click)="getDoctors()">Doctors</button>
            <button class="item nav-link " id="v-pills-messages-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                aria-selected="false" (click)="getUsers('ROLE_USER')">Visitors</button>
            <button class=" item nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                aria-selected="false" (click)="getUsers('ROLE_ADMIN')">Administrators</button>

            <button class="item nav-link " id="v-pills-settings-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                aria-selected="false" (click)="getSpecialities()">Specialities</button>
        </div>
        <div class="tab-content col" id="v-pills-tabContent">

            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    <button class="btn green-btn-wg ">Add doctor</button>
                </div>

                <table class="table table-hover">
                    <tbody>
                        <tr class="text-center bg-light">
                            <td>Photo</td>
                            <td>User ID</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Speciality</td>
                            <td>Email</td>
                            <td>Status</td>
                            <td>Account</td>
                            <td>Active status</td>
                            <td>Actions</td>
                        </tr>
                        <tr *ngFor="let tempDoctor of doctors" class="text-center">
                            <td>
                                <img height="40" width="40" src="{{tempDoctor?.profileImageUrl}}"
                                    class="rounded-circle img-fluid img-thumbnail" alt="" />
                            </td>
                            <td (click)=" launchEditDoctorModal(tempDoctor)">{{tempDoctor?.userId}}</td>
                            <td (click)=" launchEditDoctorModal(tempDoctor)">{{tempDoctor?.firstName}}</td>
                            <td (click)=" launchEditDoctorModal(tempDoctor)">{{tempDoctor?.lastName}}</td>
                            <td (click)=" launchEditDoctorModal(tempDoctor)">{{tempDoctor?.speciality?.name}}</td>

                            <td (click)=" launchEditDoctorModal(tempDoctor)">{{tempDoctor?.email}}</td>
                            <td (click)=" launchEditDoctorModal(tempDoctor)">
                                <span *ngIf="tempDoctor?.status=='VERIFIED'" class="badge green-badge">Verified</span>
                                <span *ngIf="tempDoctor?.status=='NOT_VERIFIED'" class="badge bg-danger">Not
                                    verified</span>
                                <span *ngIf="tempDoctor?.status=='UNDER_VERIFICATION'" class="badge bg-warning">Under
                                    verifiation</span>
                            </td>
                            <td (click)=" launchEditDoctorModal(tempDoctor)"><span [hidden]="tempDoctor?.notLocked">
                                    <i class="fa fa-lock float-right" style="color: red;">
                                    </i>
                                    Locked
                                </span>
                                <span [hidden]="!tempDoctor.notLocked">
                                    <i class="fa fa-unlock float-right" style="color: #17a2b8;">
                                    </i>
                                    Unlocked
                                </span>
                            </td>
                            <td (click)=" launchEditDoctorModal(tempDoctor)">
                                <span [hidden]="!tempDoctor?.active" class="badge green-badge">Active</span>
                                <span [hidden]="tempDoctor?.active" class="badge bg-danger">Inactive</span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button (click)="launchEditDoctorModal(tempDoctor)" class="btn "><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button (click)="onDeleteUser(tempDoctor.username)" class="btn "><i
                                            class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    <button class="btn green-btn-wg ">Add visitor</button>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr class="text-center bg-light">
                            <td>User ID</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Username</td>
                            <td>Email</td>
                            <td>Active status</td>
                            <td>Account</td>
                            <td>Actions</td>
                        </tr>
                        <tr *ngFor="let appUser of users" class="text-center">
                            <td (click)="onSelectUser(appUser)">{{appUser?.userId}}</td>
                            <td (click)="onSelectUser(appUser)">{{appUser?.firstName}}</td>
                            <td (click)="onSelectUser(appUser)">{{appUser?.lastName}}</td>
                            <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>
                            <td (click)="onSelectUser(appUser)">{{appUser?.email}}</td>
                            <td (click)="onSelectUser(appUser)">
                                <span [hidden]="!appUser?.active" class="badge green-badge">Active</span>
                                <span [hidden]="appUser?.active" class="badge bg-danger">Inactive</span>
                            </td>
                            <td><span [hidden]="appUser?.notLocked">
                                    <i class="fa fa-lock float-right" style="color: red;">
                                    </i>
                                    Locked
                                </span>
                                <span [hidden]="!appUser.notLocked">
                                    <i class="fa fa-unlock float-right" style="color: #17a2b8;">
                                    </i>
                                    Unlocked
                                </span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button (click)="onEditUser(appUser)" class="btn "><i class="fa fa-pencil-square-o"
                                            aria-hidden="true"></i>

                                    </button>
                                    <button (click)="onDeleteUser(appUser.username)" class="btn "><i
                                            class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    <button class="btn green-btn-wg ">Add administrator</button>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr class="text-center bg-light">
                            <td>User ID</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Username</td>
                            <td>Email</td>
                            <td>Status</td>
                            <td>Actions</td>
                        </tr>
                        <tr *ngFor="let appUser of users" class="text-center">
                            <td (cliCk)="onSelectUser(appUser)">{{appUser?.userId}}</td>
                            <td (click)="onSelectUser(appUser)">{{appUser?.firstName}}</td>
                            <td (click)="onSelectUser(appUser)">{{appUser?.lastName}}</td>
                            <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>
                            <td (click)="onSelectUser(appUser)">{{appUser?.email}}</td>
                            <td (click)="onSelectUser(appUser)">
                                <span [hidden]="!appUser?.active">Active</span>
                                <span [hidden]="appUser?.active">Inactive</span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button (click)="onEditUser(appUser)" class="btn "><i class="fa fa-pencil-square-o"
                                            aria-hidden="true"></i>
                                    </button>
                                    <button (click)="onDeleteUser(appUser.username)" class="btn "><i
                                            class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    <button class="btn green-btn-wg ">Add speciality</button>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr class=" text-center bg-light">
                            <td>Name</td>
                            <td>Actions</td>
                        </tr>
                        <tr *ngFor="let tempSpeciality of specialities" class="text-center">
                            <td>{{tempSpeciality?.name}}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn "><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn "><i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- ****add new user **** -->
    <!-- <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
                           
                        

                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" name="firstName" required ngModel class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" name="lastName" required ngModel class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" required ngModel class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" required ngModel class="form-control">
                            </div>
                            <div *ngIf="isAdmin" class="form-group">
                                <label for="authority">Role</label>
                                <select name="role" required ngModel="ROLE_USER" class="form-control">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_MANAGER">MANAGER</option>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                    <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                </select>
                            </div>
                            <div *ngIf="!isAdmin" class="form-group">
                                <label for="authority">Role</label>
                                <select name="role" required ngModel="ROLE_USER" class="form-control">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_MANAGER" disabled>MANAGER</option>
                                    <option value="ROLE_ADMIN" disabled>ADMIN</option>
                                    <option value="ROLE_SUPER_ADMIN" disabled>SUPER ADMIN</option>
                                </select>
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Profile Picture </span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" accept="image/*" name="profileImage"
                              (change)="onProfileImageChange($event.target.files[0].name, $event.target.files[0])"
                                class="custom-file-input"> 

                                    <input type="file" accept="image/*" name="profileImage" class="custom-file-input"
                                        (change)="onProfileImageChange($event)">
                                    <label class="custom-file-label"><span [hidden]="!fileName">{{ fileName }}</span>
                                        <span [hidden]="fileName">Choose File</span>
                                    </label>
                                </div>
                            </div>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="active" ngModel class="form-check-input">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="notLocked" ngModel class="form-check-input">
                                        Unlocked
                                    </label>
                                </div>
                            </fieldset>
                           
                            <button type="submit" style="display: none;" id="new-user-save"></button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="new-user-close">Close</button>
                   
                    <button type="button" class="btn btn-primary" (click)="saveNewUser()"
                        [disabled]="newUserForm.invalid">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->


    <!-- ****Edit doctor info**** -->
    <!-- Button trigger modal -->
    <button type="button" [hidden]="true" id="edit-doctor-modal-trigger-btn" data-bs-toggle="modal"
        data-bs-target="#editDoctorModal">
        Edit doctor info
    </button>
    <!-- Modal -->
    <div class="modal fade" id="editDoctorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Doctor details</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="main-doctor-info mb-4">
                        <div class="row">
                            <div class="col-12 col-sm-auto">
                                <div class="mx-auto" style="width: 140px;">
                                    <div class="d-flex justify-content-center align-items-center rounded">
                                        <img class="rounded" height="120" width="130"
                                            src="{{selectedDoctor?.profileImageUrl}}"
                                            alt="{{selectedDoctor?.firstName}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex flex-column flex-sm-row justify-content-between">
                                <div class=" text-sm-left mb-sm-0">
                                    <p class="pt-sm-2 pb-1 mb-0 ">{{selectedDoctor?.firstName}}
                                        {{selectedDoctor?.lastName}}
                                    </p>
                                    <div><i class="fa fa-star" aria-hidden="true"></i>
                                        {{selectedDoctor?.averageOfRatings}} ({{selectedDoctor?.nbOfRatings}} reviews)
                                    </div>
                                    <div class="">Active status:
                                        <span [hidden]="!selectedDoctor?.active" class="badge green-badge">Active</span>
                                        <span [hidden]="selectedDoctor?.active" class="badge bg-danger">Inactive</span>
                                    </div>
                                    <div *ngIf="selectedDoctor?.lastLoginDateDisplay" class="text-muted">
                                        <small>Last Login: {{selectedDoctor?.lastLoginDateDisplay | date:
                                            'medium'}}</small>
                                    </div>
                                </div>
                                <div class="text-center text-sm-right">
                                    <div class="text-muted"><small>Joined {{selectedDoctor?.joinDate | date:
                                            'mediumDate'}}</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-doctor-form-container">
                        <form [formGroup]="editDoctorForm">
                            <!-- About section -->
                            <div class="form-area mt-3 mb-4" id="about-section">
                                <!--about title  -->
                                <div class="form-area-title">
                                    <span><i class="fa fa-user-md" aria-hidden="true"></i>
                                        About <i (click)="onEditDoctor('about')"
                                            class="fa fa-pencil-square-o edit-section-btn" style="cursor:pointer ;"
                                            aria-hidden="true"></i></span>
                                </div>
                                <!-- about info -->
                                <div *ngIf="isEditAbout==false" class="mt-2" id="about-info">
                                    <div class="row mb-2">
                                        <div class="col"> <b>FirstName:</b> {{selectedDoctor?.firstName}}</div>
                                        <div class="col"> <b> LastName:</b> {{selectedDoctor?.lastName}}</div>
                                    </div>

                                    <div class="mb-2"><b>Username: </b>{{selectedDoctor?.username}}</div>
                                    <div class="mb-2"><b>Role: </b><span
                                            *ngIf="selectedDoctor?.role=='ROLE_DOCTOR'">Doctor</span>
                                        <span *ngIf="selectedDoctor?.role=='ROLE_USER'">User</span>
                                        <span *ngIf="selectedDoctor?.role=='ROLE_ADMIN'">Admin</span>
                                    </div>
                                    <div class="mb-2"><b>Speciality: </b>{{selectedDoctor?.speciality?.name}}</div>
                                    <div class="mb-2"><b>Gender: </b>{{selectedDoctor?.gender}}</div>
                                </div>
                                <!-- edit about info -->
                                <div formGroupName="about" *ngIf="!isEditAbout==false" class="about-form">
                                    <div class="form-group my-2 row ">
                                        <div class="col">
                                            <label class="mb-1" for="firstName">First Name</label>
                                            <input formControlName="firstName" type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.about.get('firstName').errors }">
                                            <div *ngIf="submitted && f.about.get('firstName').errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.about.get('firstName').errors.required">
                                                    First Name is required
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <label class="mb-1">Last Name</label>
                                            <input formControlName="lastName" type="text" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.about.get('lastName').errors }">
                                            <div *ngIf="submitted && f.about.get('lastName').errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.about.get('lastName').errors.required">
                                                    Last Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group my-2">
                                        <label class="mb-1" for="username">Username</label>
                                        <input formControlName="username" type="text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.about.get('username').errors }">
                                        <div *ngIf="submitted && f.about.get('username').errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.about.get('username').errors.required">
                                                Username is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group my-2">
                                        <label class="mb-1" for="authority">Role</label>
                                        <select formControlName="role" class=" form-select" name="role">
                                            <option value="ROLE_USER">User</option>
                                            <option value="ROLE_DOCTOR">Doctor</option>
                                            <option value="ROLE_ADMIN">Admin</option>

                                        </select>
                                    </div>

                                    <div formGroupName="speciality" class="form-group my-2">
                                        <label class="mb-1">Speciality</label>
                                        <select formControlName="name" class="form-select">
                                            <option *ngFor="let tempSpeciality of specialities"
                                                [ngValue]="tempSpeciality.name">
                                                {{tempSpeciality.name}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio" id="flexRadioDefault1"
                                                formControlName="gender" value="man">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Man
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="flexRadioDefault2"
                                                formControlName="gender" value="woman">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Woman
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                        <button (click)="editDoctor('about')"
                                            class="btn purple-btn save-doctor-info-btn" type="button">
                                            <span *ngIf="!showLoading">Save</span>
                                            <span *ngIf="showLoading" class="spinner-grow spinner-grow-sm" role="status"
                                                aria-hidden="true"> </span>

                                            <span *ngIf="showLoading"> Loading...</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!-- End about section -->
                            <!-- Contact section -->
                            <div class="form-area mt-3 mb-4">
                                <!-- Contact title -->
                                <div class=" form-area-title">
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i> Contact <i
                                            (click)="onEditDoctor('contact')"
                                            class="fa fa-pencil-square-o edit-section-btn" style="cursor:pointer ;"
                                            aria-hidden="true"></i> </span>
                                </div>

                                <!-- contact info -->
                                <div *ngIf="isEditContact==false" class="mt-2" id="contact-info">
                                    <div class="row mb-2">
                                        <div class="col"> <b>Email:</b> {{selectedDoctor?.email}}</div>

                                    </div>
                                    <div class="row mb-2">
                                        <div class="col"> <b> Phone Number:</b> {{selectedDoctor?.phoneNumber}}</div>
                                    </div>

                                    <div class="mb-2"><b>Address: </b>{{selectedDoctor?.address?.street}}
                                        {{selectedDoctor?.address?.city}} {{selectedDoctor?.address?.state}}
                                        {{selectedDoctor?.address?.country}}</div>
                                </div>
                                <!-- Edit contact info -->
                                <div formGroupName="contact" *ngIf="!isEditContact==false" class="contact-form">
                                    <div class="form-group my-2">
                                        <label class="mb-1" for="email">Email</label>
                                        <input formControlName="email" type="email" class=" form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.contact.get('email').errors }">
                                        <div *ngIf="submitted && f.contact.get('email').errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.contact.get('email').errors.required">
                                                Email is required
                                            </div>
                                            <div *ngIf="f.contact.get('email').errors.email">
                                                Email must be a valid email address
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group my-2">
                                        <label class="mb-1">Phone number</label>
                                        <input type="number" formControlName="phoneNumber" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.contact.get('phoneNumber').errors }">
                                        <div *ngIf="submitted && f.contact.get('phoneNumber').errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.contact.get('phoneNumber').errors.required">
                                                Phone Number is required
                                            </div>
                                        </div>
                                    </div>

                                    <div formGroupName="address">
                                        <div class="my-2 row">
                                            <div class="col">
                                                <label class="mb-1">Country</label>
                                                <select formControlName="country" class="form-select"
                                                    (change)="getStates(editDoctorForm.controls['contact'].get('address').value.country);resetAddress('country')">
                                                    <option *ngFor="let tempCountry of countries"
                                                        [ngValue]="tempCountry.name">
                                                        {{tempCountry.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label class="mb-1">State</label>
                                                <select formControlName="state" class="form-select"
                                                    [ngClass]="{ 'is-invalid': submitted && f.contact.get('address').get('state').errors }"
                                                    (change)="getCities(editDoctorForm.controls['contact'].get('address').value.state);resetAddress('state')">
                                                    <option *ngFor="let tempState of states" [ngValue]="tempState.name"
                                                        (change)="getCities(editDoctorForm.value.state)">
                                                        {{tempState.name}}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && f.contact.get('address').get('state').errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.contact.get('address').get('state').errors.required">
                                                        State is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my-2 row">
                                            <div class="col">
                                                <label class="mb-1">City</label>
                                                <select formControlName="city" class="form-select"
                                                    [ngClass]="{ 'is-invalid': submitted && f.contact.get('address').get('city').errors }"
                                                    (change)="resetAddress('city')">
                                                    <option *ngFor="let tempCity of cities" [ngValue]="tempCity.name">
                                                        {{tempCity.name}}
                                                </select>
                                                <div *ngIf="submitted && f.contact.get('address').get('city').errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.contact.get('address').get('city').errors.required">
                                                        City is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="mb-1">Address</label>
                                                <input formControlName="street" class="form-control" type="text"
                                                    placeholder="Address(street,center)"
                                                    [ngClass]="{ 'is-invalid': submitted && f.contact.get('address').get('street').errors }">
                                                <div *ngIf="submitted && f.contact.get('address').get('street').errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.contact.get('address').get('street').errors.required">
                                                        Address is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                        <!-- [disabled]="editDoctorForm.controls['contact'].invalid" -->
                                        <button (click)="editDoctor('contact')"
                                            class="btn purple-btn save-doctor-info-btn" type="button">
                                            <span *ngIf="!showLoading">Save</span>
                                            <span *ngIf="showLoading" class="spinner-grow spinner-grow-sm" role="status"
                                                aria-hidden="true"> </span>
                                            <span *ngIf="showLoading"> Loading...</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- End contact section -->

                            <!-- Account status section -->
                            <div class="form-area mt-3 mb-4">
                                <!-- account title -->
                                <div class=" form-area-title">
                                    <span><i class="fa fa-unlock-alt" aria-hidden="true"></i> Account status <i
                                            (click)="onEditDoctor('accountStatus')"
                                            class="fa fa-pencil-square-o edit-section-btn" style="cursor:pointer ;"
                                            aria-hidden="true"></i></span>
                                </div>
                                <!-- Account status info -->
                                <div *ngIf="isEditAccountStatus==false" class="mt-2" id="account-status-info">
                                    <div class="row mb-2">
                                        <div class="col"> <b>Status: </b><span
                                                *ngIf="selectedDoctor?.status=='VERIFIED'"
                                                class="badge green-badge">Verified</span>
                                            <span *ngIf="selectedDoctor?.status=='NOT_VERIFIED'"
                                                class="badge bg-danger">Not
                                                verified</span>
                                            <span *ngIf="selectedDoctor?.status=='UNDER_VERIFICATION'"
                                                class="badge bg-warning">Under
                                                verifiation</span>
                                        </div>


                                        <div class="col">
                                            <div class="mb-2"> <b> Active status: </b> <span
                                                    [hidden]="!selectedDoctor?.active"
                                                    class="badge green-badge">Active</span>
                                                <span [hidden]="selectedDoctor?.active" class="badge bg-danger">Inactive
                                                </span>
                                            </div>
                                            <div class="mb-2"> <b> Lockout status: </b> <span
                                                    [hidden]="selectedDoctor?.notLocked">
                                                    <i class="fa fa-lock float-right" style="color: red;">
                                                    </i>
                                                    Account Locked
                                                </span>

                                                <span [hidden]="!selectedDoctor?.notLocked">
                                                    <i class="fa fa-unlock float-right" style="color: #17a2b8;">
                                                    </i>
                                                    Account Unlocked
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Edit account status form -->
                                <div formGroupName="accountStatus" *ngIf="!isEditAccountStatus==false"
                                    class="account-status-form">
                                    <div class="row my-2">
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="form-check ">
                                                    <input class="form-check-input" type="radio" id="flexRadioDefault1"
                                                        formControlName="status" value="VERIFIED"
                                                        (change)="changeLockoutStatus()">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Verified
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" id="flexRadioDefault2"
                                                        formControlName="status" value="UNDER_VERIFICATION"
                                                        (change)="changeLockoutStatus()">
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        Under Verification
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" id="flexRadioDefault3"
                                                        formControlName="status" value="NOT_VERIFIED"
                                                        (change)="changeLockoutStatus()">
                                                    <label class="form-check-label" for="flexRadioDefault3">
                                                        Not verified
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <div class="form-group">

                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox"
                                                        formControlName="active">
                                                    <label class="form-check-label" for="">Active status</label>
                                                </div>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox"
                                                        formControlName="notLocked">
                                                    <label class="form-check-label" for="">Lockout status</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                        <button [disabled]="editDoctorForm.controls['accountStatus'].invalid"
                                            (click)="editDoctor('accountStatus')"
                                            class="btn purple-btn save-doctor-info-btn" type="button">
                                            <span *ngIf="!showLoading">Save</span>
                                            <span *ngIf="showLoading" class="spinner-grow spinner-grow-sm" role="status"
                                                aria-hidden="true"> </span>
                                            <span *ngIf="showLoading"> Loading...</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- End account status section -->


                            <div class="form-area mt-3 mb-1">
                                <div class=" form-area-title">
                                    <span><i class="fa fa-key" aria-hidden="true"></i> Change Password <i
                                            class="fa fa-pencil-square-o edit-section-btn" style="cursor: pointer;"
                                            (click)="onEditDoctor('changePassword')" aria-hidden="true"></i></span>
                                </div>
                                <!-- Edit account status info -->
                                <div formGroupName="changePassword" *ngIf="!isEditPassword==false"
                                    class="change-password-form">

                                    <div class="form-group my-2">
                                        <label class="mb-1" for="password">Password</label>
                                        <input formControlName="currentPassword" type="password" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.changePassword.get('currentPassword').errors }">
                                        <div *ngIf="submitted && f.changePassword.get('currentPassword').errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.changePassword.get('currentPassword').errors.required">
                                                Current password is required
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group my-2">
                                        <label class="mb-1" for="password">Password</label>
                                        <input formControlName="password" type="password" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.changePassword.get('password').errors }">
                                        <div *ngIf="submitted && f.changePassword.get('password').errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.changePassword.get('password').errors.required">
                                                Password is required
                                            </div>
                                            <div *ngIf="f.changePassword.get('password').errors.minlength">
                                                Password must be at least 6 characters
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group my-2">
                                        <label class="mb-1" for="password">Confirm password</label>
                                        <input formControlName="confirmPassword" type="password" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.changePassword.get('confirmPassword').errors }">
                                        <div *ngIf="submitted && f.changePassword.get('confirmPassword').errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.changePassword.get('confirmPassword').errors.required">
                                                Password onfirmation is required
                                            </div>

                                        </div>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                        <button (click)="editDoctor('changePassword')"
                                            class="btn purple-btn save-doctor-info-btn" type="button">
                                            <span *ngIf="!showLoading">Save</span>
                                            <span *ngIf="showLoading" class="spinner-grow spinner-grow-sm" role="status"
                                                aria-hidden="true"> </span>
                                            <span *ngIf="showLoading"> Loading...</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="m-3"></div>
                </div>
            </div>
        </div>
    </div>




</div>