.profile-banner {
  height: 300px;
  /* background-position: center center; */

  /* position: relative; */
  background-color: #efefef;
}

.profile-banner-2 {
  /* height: 300px; */
  /* text-align: center; */
  margin-top: -6rem;
}

.profile-image {
  width: 200px;
  height: 200px;
  border: 4px solid #fff;
  border-radius: 50%;
  /* box-shadow: 2px 0px 4px rgba(0,0,0,0.1); */
}
.change-profile-image-btn {
  margin-top: -2.5rem;
}

.change-profile-image-btn i {
  padding: 0.7rem;
  border-radius: 50%;
  background-color: #efefef;
  color: #252932;
  margin-left: 8rem;
  cursor: pointer;
}

#main-doctor-info i {
  color: yellow;
}

.user-button button {
  width: 100%;
  margin-bottom: 0.5rem;
}

.nav-link {
  color: #212529;
  background-color: #efefef;
}

/* edit doctor profile form */

.form-area {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 20px;
}
.form-area .form-area-title {
  margin-top: -2rem;
}
.form-area .form-area-title span {
  padding: 0px 20px;
  background-color: #fff;
  /* font-size: 1.1rem; */
  /* text-transform: uppercase; */
}
.form-area .form-area-title span .edit-section-btn {
  padding-left: 10px;
}

.save-doctor-info-btn {
  border-radius: 5px;
}
