<nav class="navbar">
    <div class="container">

        <ul class="nav">
            <a class="navbar-brand" routerLink="/">Medix</a>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/find-a-doctor">Find a doctor </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ask-a-question">Ask a question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Medical magazine</a>
            </li>
        </ul>

        <ul class="nav">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf="loggedInUser">{{loggedInUser.firstName}}</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf="isLoggedIn" (click)="onLogOut()">Logout</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/login" (click)="onLogOut()">{{isLoggedIn}}</a>
            </li> -->


            <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn">Sign in</a>
            </li>
            <li class=" nav-item">
                <a class="nav-link" routerLink="/register" *ngIf="!isLoggedIn">Sign up</a>
            </li>
        </ul>
    </div>
</nav>