<nav class="navbar">
    <div class="container">

        <ul class="nav">
            <a class="navbar-brand" routerLink="/">Medix</a>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/find-a-doctor"><i class="fa fa-user-md" aria-hidden="true"></i>
                    Find a doctor </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ask-a-question"><i class="fa fa-question-circle"
                        aria-hidden="true"></i> Ask a question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ask-a-question"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    Medical magazine</a>
            </li>
        </ul>

        <ul class="nav">
            <!-- <li class="nav-item">
                <h5 *ngIf="loggedInUser">{{loggedInUser?.firstName}} {{loggedInUser?.lastName}}</h5>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/settings" *ngIf="isLoggedIn">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf="isLoggedIn" (click)="onLogOut()">Logout</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/login" (click)="onLogOut()">{{isLoggedIn}}</a>
            </li> -->


            <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn">Sign in</a>
            </li>
            <li class=" nav-item">
                <a class="nav-link" routerLink="/register" *ngIf="!isLoggedIn">Sign up</a>
            </li>
        </ul>
    </div>
</nav>