/*==================================================
  Nearby People CSS
  ==================================================*/

img.profile-photo-lg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.doctor-info i {
  color: rgb(243, 243, 89);
}
