<div class="container">

    <div class="content my-4">

        <div class="header">
            <div class="header-text">
                <h1 class="mb-4">Quickly find the right doctor near you!</h1>
                <p class="lead-text">Optimize your time and easily find the nearest and the right doctor. </p>
            </div>
            <div class="header-img">
                <img src="../../assets/doctor-desk.jpg" alt="" class="ml-5">
            </div>
        </div>

        <div class="row justify-content-end">

            <div id="search-questions-bar" class="col-4 ">
                <div class="row justify-content-between">
                    <input type="text" class="col" placeholder="Doctor name">
                    <div id="search-icon-container" class=" col-1" style="cursor: pointer;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="doctors-container my-3">
            <div class="row align-items-start">
                <aside class="search-section col-3  ">
                    <p class="text-center" id="filter-text">Filter by</p>

                    <form [formGroup]="doctorSearchForm" class="search-form" (ngSubmit)="onSearchDoctor()">


                        <div formGroupName="speciality" class="mb-2 form-floating" id="floatingSelectGrid">
                            <select class="form-select" formControlName="name">
                                <option value="">Select a speciality</option>
                                <option *ngFor="let tempSpeciality of specialities" [ngValue]="tempSpeciality.name">
                                    {{tempSpeciality.name}}</option>
                            </select>
                            <label for="floatingSelectGrid">Speciality</label>
                        </div>

                        <div formGroupName="address">
                            <div class="mb-2 form-floating">
                                <select formControlName="country" class="form-select" id="floatingSelectGrid"
                                    aria-label="Floating label select example"
                                    (change)="getStates(f.address.value.country);resetAddress('country');">
                                    <option *ngFor="let tempCountry of countries" [ngValue]="tempCountry.name">
                                        {{tempCountry.name}}
                                    </option>
                                </select>
                                <label for="floatingSelectGrid">Country</label>
                            </div>
                            <div class="mb-2 form-floating">
                                <select formControlName="state" class="form-select" id="floatingSelectGrid"
                                    (change)="getCities(f.address.value.state);resetAddress('state');">
                                    <option value="">Select a state</option>
                                    <option *ngFor="let tempState of states" [ngValue]="tempState.name">
                                        {{tempState.name}}
                                    </option>
                                </select>
                                <label for="floatingSelectGrid">State</label>
                            </div>
                            <div class="mb-2 form-floating">
                                <select formControlName="city" class="form-select" id="floatingSelectGrid"
                                    (change)="resetAddress('city');">
                                    <option value="">Select a city</option>
                                    <option *ngFor="let tempCity of cities" [ngValue]="tempCity.name">
                                        {{tempCity.name}}
                                    </option>
                                </select>
                                <label for="floatingSelectGrid">ِCity</label>
                            </div>
                        </div>
                        <div></div>
                        <div class="my-3">
                            <button style="width:100%" id="search-btn" type="submit" class="btn purple-btn"><i
                                    class="fa fa-search" aria-hidden="true"></i> Search
                            </button>
                        </div>


                    </form>

                </aside>
                <div class="col" id="doctors">

                    <div class="people-nearby">



                        <div class="card doctor-card mb-3" *ngFor="let tempDoctor of doctors"
                            (click)="getDoctorProfile(tempDoctor.username)" style="cursor: pointer;">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-auto" style="width: 15%; height:15%">
                                        <img src="{{tempDoctor.profileImageUrl}}" alt="doctor" class="profile-photo-lg">
                                    </div>
                                    <div class="col">
                                        <div class="doctor-info">
                                            <h5>Dr {{tempDoctor.firstName}} {{tempDoctor.lastName}}
                                            </h5>

                                            <p>{{tempDoctor.speciality.name}} <i class="fa fa-star"
                                                    aria-hidden="true"></i>
                                                {{tempDoctor.averageOfRatings}}
                                                <small>({{tempDoctor.nbOfRatings}})</small>
                                                <br>{{tempDoctor.address.city}}
                                                {{tempDoctor.address.state}} {{tempDoctor.address.country}}
                                            </p>


                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    <p class="card-text">With supporting text below as a natural lead-in to
                                        additional
                                        content.
                                    </p>
                                </div>

                            </div>
                        </div>


                        <div *ngIf="doctors?.length == 0" class="alert alert-warning" role="alert">
                            No doctors found.
                        </div>



                    </div>
                </div>

            </div>
        </div>