<section class="search-sec">
    <div class="container">
        <div class="content">

            <div class="header ">
                <div class="header-text">
                    <h1 class="mb-4">Do you have concerns about your health?</h1>
                    <p>Thousands of doctors are here to help you and answer your questions! </p>
                </div>
                <div class="header-img">
                    <img src="../../assets/question.jpg" alt="" class="ml-5">
                </div>
            </div>

            <div class="row">
                <div class="search-input col-4">
                    <input type="search" class="form-control" placeholder="Key words">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn purple-btn">Search</button>
                </div>
                <div class="col-auto">
                    <button class="btn purple-btn" type="button" id="openUserEdit" data-bs-toggle="modal"
                        data-bs-target="#askQustionModal">
                        Ask a question
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="askQustionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ask a question
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="myQuestionForm">

                    <div class="mb-3">
                        <label for="speciality" class="form-label">Speciality </label>

                        <select class="form-select" formControlName="speciality">
                            <option value="">Speciality</option>
                            <option *ngFor="let tempSpeciality of specialities" [ngValue]="tempSpeciality">
                                {{tempSpeciality.name}}</option>
                        </select>

                    </div>

                    <div class="mb-3">
                        <div class="mb-2">
                            <label for="question-title" class="form-label">Question </label>
                            <input type="text" formControlName="questionTitle" class="form-control" id="question-title"
                                placeholder="Question title">
                        </div>
                        <textarea class="form-control" formControlName="question" id="question" rows="3"
                            placeholder="Question (Remember to give as much information as possible so that the doctors' response is as relevant as possible)"></textarea>
                    </div>

                    <div class="mb-3 row">
                        <div class="col">
                            <label for="height" class="form-label">Height</label>
                            <input type="text" formControlName="height" id="height" class="form-control"
                                aria-label="height">
                        </div>
                        <div class="col">
                            <label for="width" class="form-label">Weight</label>
                            <input type="text" formControlName="weight" id="width" class="form-control"
                                aria-label="width">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Attachments</label>
                        <input class="form-control" formControlName="files" type="file" multiple
                            (change)="uploadMyQuestionFormFiles($event)">
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="edit-user-close" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn purple-btn" [disabled]="myQuestionForm.invalid"
                    (click)="addQuestion()">Submit</button>
            </div>
        </div>
    </div>

</div>