<section class="search-sec">
    <div class="container">

        <div class="header ">
            <div class="header-text">
                <h1 class="mb-4">Do you have concerns about your health?</h1>
                <p>Thousands of doctors are here to help you and answer your questions! </p>
            </div>
            <div class="header-img">
                <img src="../../assets/question.jpg" alt="" class="ml-5">
            </div>


        </div>
        <div class="row">
            <form action="#" class="">
                <div class="row ">
                    <div class="">
                        <input type=" search" class="form-control" placeholder="Key words">
                    </div>

                    <div class="">
                        <button type="button" class="btn btn-danger wrn-btn">Search</button>
                    </div>

                </div>


            </form>

            <div class="ml-4">
                <button class="btn btn-danger wrn-btn" type="button" id="openUserEdit" data-bs-toggle="modal"
                    data-bs-target="#askQustionModal">
                    Ask a question
                </button>
            </div>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="askQustionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ask a question
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="edit-user-close" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>