<div class="container">
    <div class="main">

        <div class="user_card">
            <div class="m-heading mb-5">
                <h4> Don't have an account ?</h4>
            </div>

            <div class="user_card_body">
                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active " style="color:#17a2b8 ;" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#visitor" type="button" role="tab" aria-controls="home"
                            aria-selected="true">Visitor</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" style="color:#17a2b8 ;" data-bs-toggle="tab"
                            data-bs-target="#doctor" type="button" role="tab" aria-controls="profile"
                            aria-selected="false">Doctor</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!-- user registration form -->
                    <div class="tab-pane fade show active" id="visitor" role="tabpanel" aria-labelledby="home-tab">
                        <form #visitorRegisterForm="ngForm" (ngSubmit)="onRegisterVisitor(visitorRegisterForm.value)"
                            class="login-form">
                            <!--visitor username -->
                            <div class="my-2">
                                <input type="text" class="form-control" name="username" placeholder="Username" required
                                    ngModel #visitorUsernameInput="ngModel">
                                <span class="help-block"
                                    *ngIf="visitorUsernameInput.invalid && visitorUsernameInput.touched"
                                    style="color:red;">Please enter a username</span>
                            </div>


                            <div class="row my-2">
                                <!--visitor firstName -->
                                <div class="col">
                                    <input type="text" class="form-control" name="firstName" placeholder="First name"
                                        required ngModel #visitorFirstNameInput="ngModel">
                                    <span class="help-block"
                                        *ngIf="visitorFirstNameInput.invalid && visitorFirstNameInput.touched"
                                        style="color:red;">Please enter a first name</span>
                                </div>

                                <!--visitor lastName -->
                                <div class="col">
                                    <input type="text" class="form-control" name="lastName" placeholder="Last name"
                                        required ngModel #lastNameInput="ngModel">
                                    <span class="help-block" *ngIf="lastNameInput.invalid && lastNameInput.touched"
                                        style="color:red;">Please enter a last name</span>
                                </div>

                            </div>
                            <!-- visitor email -->
                            <div class=" my-2">
                                <input type="text" class="form-control" name="email" placeholder="Email" required
                                    ngModel #visitorEmailInput="ngModel">
                                <span class="help-block" *ngIf="visitorEmailInput.invalid && visitorEmailInput.touched"
                                    style="color:red;">Please enter an email.</span>
                            </div>
                            <div class=" my-2">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    ngModel required #visitorPasswordInput="ngModel" minlength="6">
                                <span class="help-block"
                                    *ngIf="visitorPasswordInput.invalid && visitorPasswordInput.touched"
                                    style="color:red;">Please enter a password (min length = 6).</span>
                            </div>



                            <div class="mt-3 ">
                                <button [disabled]="visitorRegisterForm.invalid || showLoading" type="submit"
                                    name="button" class="btn login_btn">
                                    <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                                    <span *ngIf="showLoading">Loading...</span>
                                    <span *ngIf="!showLoading">Register</span>
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- doctor registration form -->
                    <div class="tab-pane fade" id="doctor" role="tabpanel" aria-labelledby="profile-tab">
                        <form #DoctorRegisterForm="ngForm" (ngSubmit)="onRegisterDoctor(DoctorRegisterForm)"
                            class="login-form">
                            <!-- doctor username -->
                            <div class="my-2">
                                <input type="text" class="form-control" name="username" placeholder="Username" required
                                    ngModel #DoctorUsernameInput="ngModel">
                                <span class="help-block"
                                    *ngIf="DoctorUsernameInput.invalid && DoctorUsernameInput.touched"
                                    style="color:red;">Please enter a username</span>
                            </div>


                            <div class="row my-2">
                                <!-- doctor firstName -->
                                <div class="  col ">
                                    <input type="text" class="form-control" name="firstName" placeholder="First name"
                                        required ngModel #DoctorFirstNameInput="ngModel">
                                    <span class="help-block"
                                        *ngIf="DoctorFirstNameInput.invalid && DoctorFirstNameInput.touched"
                                        style="color:red;">Please enter a first name</span>
                                </div>

                                <!-- doctor lastName -->
                                <div class="col">
                                    <input type="text" class="form-control" name="lastName" placeholder="Last name"
                                        required ngModel #DoctorLastNameInput="ngModel">
                                    <span class="help-block"
                                        *ngIf="DoctorLastNameInput.invalid && DoctorLastNameInput.touched"
                                        style="color:red;">Please enter a last name</span>
                                </div>

                            </div>
                            <!-- doctor email -->

                            <div class=" my-2">
                                <input type="text" class="form-control" name="email" placeholder="Email" required
                                    ngModel #DoctorEmailInput="ngModel">
                                <span class="help-block" *ngIf="DoctorEmailInput.invalid && DoctorEmailInput.touched"
                                    style="color:red;">Please enter your email.</span>
                            </div>
                            <div class=" my-2">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    ngModel required #doctorPasswordInput="ngModel" minlength="6">
                                <span class="help-block"
                                    *ngIf="doctorPasswordInput.invalid && doctorPasswordInput.touched"
                                    style="color:red;">Please enter a password (min length = 6).</span>
                            </div>

                            <div class=" my-2">
                                <select class="form-select" name="speciality" ngModel required
                                    #specialityInput="ngModel">
                                    <option value="">Speciality</option>
                                    <option *ngFor="let tempSpeciality of specialities" [ngValue]="tempSpeciality">
                                        {{tempSpeciality.name}}</option>
                                </select>
                                <span class="help-block" *ngIf="specialityInput.invalid && specialityInput.touched"
                                    style="color:red;">Please select a speciality.</span>
                            </div>

                            <div class="row my-2">
                                <div class="col">
                                    <div class="input-group ">
                                        <input type="text" class="form-control" name="phoneNumber"
                                            placeholder="PhoneNumber" required ngModel #phoneNumberInput="ngModel">
                                    </div>
                                    <span class="help-block"
                                        *ngIf="phoneNumberInput.invalid && phoneNumberInput.touched"
                                        style="color:red;">Please enter a phoneNumber</span>
                                </div>

                                <div class="col">
                                    <select class="form-select" name="country" required ngModel #countryInput="ngModel"
                                        (change)="getStates(DoctorRegisterForm.value.country)">
                                        <option value="">Country</option>
                                        <option *ngFor="let tempCountry of countries">{{tempCountry.name}}
                                        </option>
                                    </select>
                                    <span class="help-block" *ngIf="countryInput.invalid && countryInput.touched"
                                        style="color:red;">Please select a country.</span>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col">
                                    <select class="form-select" name="state" ngModel required #stateInput="ngModel"
                                        (change)="getCities(DoctorRegisterForm.value.state)">
                                        <option value="">State</option>
                                        <option *ngFor="let tempState of states">{{tempState.name}}
                                        </option>
                                    </select>
                                    <span class="help-block" *ngIf="stateInput.invalid && stateInput.touched"
                                        style="color:red;">Please select a state</span>
                                </div>

                                <div class="col">
                                    <select class="form-select" name="city" ngModel required #cityInput="ngModel">
                                        <option value="">City</option>
                                        <option *ngFor="let tempCity of cities">{{tempCity.name}}
                                        </option>
                                    </select>
                                    <span class="help-block" *ngIf="cityInput.invalid && cityInput.touched"
                                        style="color:red;">Please select a city</span>
                                </div>

                            </div>

                            <div class=" my-2">
                                <input type="text" class="form-control" name="street"
                                    placeholder="Address (Street, Floor, Center)" required ngModel
                                    #streetInput="ngModel">
                                <span class="help-block" *ngIf="streetInput.invalid && streetInput.touched"
                                    style="color:red;">Please enter a street</span>
                            </div>
                            <div class=" my-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" ngModel value="man"
                                        required>
                                    <label class="form-check-label" for="inlineRadio1">Man</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" ngModel value="woman">
                                    <label class="form-check-label" for="inlineRadio2">Woman</label>
                                </div>
                            </div>


                            <div class=" mt-3 ">
                                <!--  -->
                                <button type="submit" [disabled]="DoctorRegisterForm.invalid || showLoading"
                                    name="button" class="btn login_btn">
                                    <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                                    <span *ngIf="showLoading">Loading...</span>
                                    <span *ngIf="!showLoading">Register</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>




            <div class="mt-4">
                <div class="links">
                    Already have an account? <a routerLink="/login" class="ml-2 login_register_btn">Log In</a>
                </div>
            </div>

        </div>


        <img src="../../assets/doctors-2.jpg" width="55%" class="mr-5">


    </div>