.form-area {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 20px;
}
.form-area .form-area-title {
  margin-top: -2rem;
}
.form-area .form-area-title span {
  padding: 0px 20px;
  background-color: #fff;
  /* font-size: 1.1rem; */
  /* text-transform: uppercase; */
}
.form-area .form-area-title span .edit-section-btn {
  padding-left: 10px;
}

.save-doctor-info-btn {
  border-radius: 5px;
}
.item {
  color: #17a2b8;
  border-bottom: 1px solid #17a2b8;
  border-radius: 0;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #17a2b8;
}

/* .items {
  border: 1px solid #17a2b8;
  /* border-radius: 10px; */
