<div class="container">

    <div class="row justify-content-center align-items-start my-5 ">

        <div class=" col-5 mx-3 setting-section" id="user-info-section">

            <h5 class="text-center mt-3 mb-4">Edit Account Information</h5>
            <form [formGroup]=" editUserProfileForm">
                <div class="form-group my-2 row ">
                    <div class="col">
                        <label class="mb-1" for="firstName">First Name <span>*</span></label>
                        <input formControlName="firstName" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">
                                First Name is required
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <label class="mb-1">Last Name <span>*</span></label>
                        <input formControlName="lastName" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">
                                Last Name is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group my-2">
                    <label class="mb-1" for="username">Username <span>*</span></label>
                    <input formControlName="username" type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">
                            Username is required
                        </div>
                    </div>
                </div>

                <div class="form-group my-2">
                    <label class="mb-1" for="email">Email <span>*</span></label>
                    <input formControlName="email" type="email" class=" form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">
                            Email is required
                        </div>
                        <div *ngIf="f.email.errors.email">
                            Email must be a valid email address
                        </div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label class="mb-1">Phone number</label>
                    <input type="number" formControlName="phoneNumber" class="form-control">
                </div>



                <div formGroupName="address">
                    <div class="my-2 row">
                        <div class="col">
                            <label class="mb-1">Country</label>
                            <select formControlName="country" class="form-select"
                                (change)="getStates(f.address.value.country);resetAddress('country')">
                                <option *ngFor="let tempCountry of countries" [ngValue]="tempCountry.name">
                                    {{tempCountry.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="mb-1">State</label>
                            <select formControlName="state" class="form-select"
                                (change)=" getCities(f.address.value.state);resetAddress('state')">
                                <option *ngFor="let tempState of states" [ngValue]="tempState.name">
                                    {{tempState.name}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="my-2 row">
                        <div class="col">
                            <label class="mb-1">City</label>
                            <select formControlName="city" class="form-select" (change)="resetAddress('city')">
                                <option *ngFor="let tempCity of cities" [ngValue]="tempCity.name">
                                    {{tempCity.name}}
                            </select>

                        </div>
                        <div class="col">
                            <label class="mb-1">Address</label>
                            <input formControlName="street" class="form-control" type="text"
                                placeholder="Address(street,center)">

                        </div>


                    </div>
                </div>

                <div class="form-group my-2">
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" id="flexRadioDefault1" formControlName="gender"
                            value="man">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Man
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexRadioDefault2" formControlName="gender"
                            value="woman">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Woman
                        </label>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                    <button type="submit" (click)="editUserProfile()" class="btn purple-btn save-doctor-info-btn"
                        type="button">
                        <span *ngIf="!showLoading">Save Changes</span>
                        <span *ngIf="showLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                        </span>
                        <span *ngIf="showLoading"> Loading...</span>
                    </button>
                </div>
            </form>
        </div>
        <!-- change password -->

        <div class=" col-5 mx-3 setting-section" id="change-password-section">
            <h5 class="text-center mt-3 mb-4">Change Password</h5>
            <form>

                <div class="form-group my-2">
                    <label class="mb-1" for="username">Current Password</label>
                    <input type="password" class="form-control">

                </div>
                <div class="form-group my-2">
                    <label class="mb-1" for="username">New Password</label>
                    <input type="text" class="form-control">

                </div>
                <div class="form-group my-2">
                    <label class="mb-1" for="username">Confirm Password</label>
                    <input type="text" class="form-control">

                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                    <button type="submit" (click)="editUserProfile()" class="btn purple-btn save-doctor-info-btn"
                        type="button">
                        <span *ngIf="!showLoading">Save Changes</span>
                        <span *ngIf="showLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                        </span>
                        <span *ngIf="showLoading"> Loading...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>