<div class="container">
    <div class="content-page">

        <div class="profile-banner"></div>

        <div class=" profile-banner-2 ">
            <div class="row align-items-end">

                <div class="profile-image-container col-3 text-center">
                    <img src="{{doctor.profileImageUrl}}" class="profile-image" alt="doctor">
                    <div class="change-profile-image-btn" (click)="clickProfileImageBtn()">
                        <i class=" fa fa-camera " aria-hidden=" true"></i>

                    </div>
                    <form style=" display: none" enctype="multipart/form-data">
                        <input type="file" accept="*" (change)="onUpdateProfileImage($event); updateProfileImage()"
                            name="profile-image-input" id="profile-image-input" placeholder="file" />
                    </form>
                </div>

                <div class="col mr-4">
                    <ul class="nav nav-tabs " id="myTab" role="tablist">
                        <li class="nav-item " role="presentation">
                            <button class="nav-link active " id="home-tab" data-bs-toggle="tab" data-bs-target="#about"
                                type="button" role="tab" aria-controls="About" aria-selected="true">

                                About
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="contact-tab" data-bs-toggle="tab" style="color: #212529 ;"
                                data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
                                aria-selected="false">


                                Contact
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="profile-tab" data-bs-toggle="tab" style="color: #212529;"
                                data-bs-target="#reviews" type="button" role="tab" aria-controls="profile"
                                aria-selected="false">


                                Reviews
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="profile-tab" data-bs-toggle="tab" style="color: #212529;"
                                data-bs-target="#questions" type="button" role="tab" aria-controls="profile"
                                aria-selected="false">


                                Questions
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>




        <div class="content mb-5">

            <div class="row">

                <div class="col-sm-3 my-2">
                    <!-- Begin user profile -->
                    <div class="text-center">
                        <ul class="list-group my-3">
                            <li class="list-group-item" id="main-doctor-info">
                                <h4>{{doctor.firstName}} <span>{{doctor.lastName}}</span></h4>
                                <h6>{{doctor.speciality.name}}
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    {{doctor.averageOfRatings}}
                                    <small>({{doctor.nbOfRatings}})</small>
                                </h6>

                            </li>
                        </ul>
                        <!-- begin .user-button -->
                        <div class="user-button">
                            <!-- <button type="button" class="btn purple-btn"><i class="fa fa-envelope"></i> Send
                                Message</button> -->
                            <button *ngIf="isDoctor" type="button" class="btn purple-btn " data-bs-toggle="modal"
                                data-bs-target="#editDoctorProfileModal" (click)="launchEditDoctorProfileModal()"><i
                                    class="fa fa-pencil-square" aria-hidden="true"></i>
                                Edit Profile</button>


                        </div><!-- End .user-button -->

                    </div><!-- End div .box-info -->
                    <!-- end user profile -->
                </div><!-- End div .col-sm-3 -->

                <div class="col-sm-9 mt-4">
                    <div class="widget widget-tabbed">



                        <div class="tab-content" id="myTabContent">

                            <!-- About tab-->
                            <div class="tab-pane fade show active" id="about" role="tabpanel"
                                aria-labelledby="home-tab">
                                <p><b>Speciality: </b>{{doctor.speciality.name}}</p>
                            </div>

                            <!-- contact tab-->
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                                <p><b>Address: </b>{{doctor.address.street}} {{doctor.address.city}}
                                    {{doctor.address.state}}
                                </p>
                                <p><b>Phone Number: </b>{{doctor.phoneNumber}}</p>
                                <p><b>Email: </b>{{doctor?.email}}</p>

                            </div>

                            <!-- reviews tab-->
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="profile-tab">
                                <!-- Button trigger modal -->
                                <div class="row justify-content-between align-items-center ">

                                    <div class="col-auto"> {{doctor.nbOfRatings}} Reviews</div>

                                    <button type="button" class="btn purple-btn col-auto"
                                        (click)="addOrEditDoctorRating()">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        Rate this doctor
                                    </button>


                                </div>
                                <div class="card my-3" *ngFor="let tempRating of ratings">

                                    <div class=" card-body">
                                        <div class="row">
                                            <div class="col-auto">
                                                {{tempRating.user.firstName}}
                                                {{tempRating.user.lastName}}
                                            </div>
                                            <div class="col-auto" style="margin-top: -20px;">
                                                <ngx-star-rating [disabled]="true" [(ngModel)]="tempRating.rating"
                                                    [id]="'rating1'">
                                                </ngx-star-rating>
                                            </div>

                                        </div>

                                        <p class=" card-text">{{tempRating.review}}</p>
                                    </div>
                                    <div class="card-footer text-muted ">
                                        <div class="row  justify-content-between">
                                            <div class="col-auto">
                                                <i class=" fa fa-clock-o "> {{tempRating.creationDate|
                                                    date:'medium'}}</i>
                                            </div>
                                            <div class="col-auto" *ngIf="isAdmin">
                                                <button class="btn"><i class="fa fa-trash-o"
                                                        aria-hidden="true"></i></button>
                                                <button class="btn"> <i class="fa fa-pencil-square-o"
                                                        aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <!-- questions tab -->
                            <div class=" tab-pane fade" id="questions" role="tabpanel" aria-labelledby="profile-tab">
                                Lorem
                                ipsum dolor sit amet consectetur adipisicing elit. Nemo optio, earum
                                sapiente quos
                                delectus corrupti exercitationem magni, non nulla, corporis minus
                                reprehenderit sed iste
                                nostrum ullam ea consequatur quidem incidunt?
                            </div>
                        </div>
                    </div>

                    <!-- Tab panes -->

                </div><!-- End div .box-info -->
            </div>
        </div>
    </div>


</div>



<!--Edit Doctor Profile Modal -->
<div class="modal fade" id="editDoctorProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="editDoctorProfileForm" class="login-form" (ngSubmit)="editDoctorProfile()">
                    <!-- doctor username -->
                    <div class="form-area mt-3 mb-4" id="about-section">
                        <!--about title  -->
                        <div class="form-area-title">
                            <span><i class="fa fa-user-md" aria-hidden="true"></i>
                                About </span>
                        </div>
                        <div class="about-form">
                            <div class="form-group my-2 row ">
                                <div class="col">
                                    <label class="mb-1" for="firstName">First Name</label>
                                    <input formControlName="firstName" type="text" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">
                                            First Name is required
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <label class="mb-1">Last Name</label>
                                    <input formControlName="lastName" type="text" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">
                                            Last Name is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group my-2">
                                <label class="mb-1" for="username">Username</label>
                                <input formControlName="username" type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">
                                        Username is required
                                    </div>
                                </div>
                            </div>

                            <div formGroupName="speciality" class="form-group my-2">
                                <label class="mb-1">Speciality</label>
                                <select formControlName="name" class="form-select">
                                    <option *ngFor="let tempSpeciality of specialities" [ngValue]="tempSpeciality.name">
                                        {{tempSpeciality.name}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="form-check ">
                                    <input class="form-check-input" type="radio" id="flexRadioDefault1"
                                        formControlName="gender" value="man">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Man
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="flexRadioDefault2"
                                        formControlName="gender" value="woman">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Woman
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--contact section  -->
                    <div class="form-area mt-3 mb-4" id="contact-section">
                        <div class="form-area-title">
                            <span><i class="fa fa-user-md" aria-hidden="true"></i>
                                About </span>
                        </div>
                        <div class="about-form">
                            <div class="form-group my-2">
                                <label class="mb-1" for="email">Email</label>
                                <input formControlName="email" type="email" class=" form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="f.email.errors.email">
                                        Email must be a valid email address
                                    </div>
                                </div>
                            </div>
                            <div class="form-group my-2">
                                <label class="mb-1">Phone number</label>
                                <input type="number" formControlName="phoneNumber" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.phoneNumber.errors.required">
                                        Phone Number is required
                                    </div>
                                </div>
                            </div>

                            <div formGroupName="address">
                                <div class="my-2 row">
                                    <div class="col">
                                        <label class="mb-1">Country</label>
                                        <select formControlName="country" class="form-select"
                                            (change)="getStates(f.address.value.country);resetAddress('country')">
                                            <option *ngFor="let tempCountry of countries" [ngValue]="tempCountry.name">
                                                {{tempCountry.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="mb-1">State</label>
                                        <select formControlName="state" class="form-select"
                                            [ngClass]="{ 'is-invalid': submitted && f.address.get('state').errors }"
                                            (change)="getCities(f.address.value.state);resetAddress('state')">
                                            <option *ngFor="let tempState of states" [ngValue]="tempState.name">
                                                {{tempState.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.address.get('state').errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.address.get('state').errors.required">
                                                State is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-2 row">
                                    <div class="col">
                                        <label class="mb-1">City</label>
                                        <select formControlName="city" class="form-select"
                                            [ngClass]="{ 'is-invalid': submitted && f.address.get('city').errors }"
                                            (change)="resetAddress('city')">
                                            <option *ngFor="let tempCity of cities" [ngValue]="tempCity.name">
                                                {{tempCity.name}}
                                        </select>
                                        <div *ngIf="submitted && f.address.get('city').errors" class="invalid-feedback">
                                            <div *ngIf="f.address.get('city').errors.required">
                                                City is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label class="mb-1">Address</label>
                                        <input formControlName="street" class="form-control" type="text"
                                            placeholder="Address(street,center)"
                                            [ngClass]="{ 'is-invalid': submitted && f.address.get('street').errors }">
                                        <div *ngIf="submitted && f.address.get('street').errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.address.get('street').errors.required">
                                                Address is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Account status section  -->
                    <div class="form-area mt-3 mb-4" id="account-status-section">
                        <div class="form-area-title">
                            <span><i class="fa fa-user-md" aria-hidden="true"></i>
                                Account status </span>
                        </div>
                        <div id="account-status-form">

                            <div class="my-2">

                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" formControlName="active">
                                    <label class="form-check-label" for="">Active status</label>
                                </div>
                            </div>
                            <div class="my-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" formControlName="notLocked">
                                    <label class="form-check-label" for="">Lockout status</label>
                                </div>
                            </div>


                        </div>

                    </div>

                    <!--edit-doctor-profile form submit button -->
                    <div class=" mt-3 ">
                        <button type="submit" [hidden]="true" id="edit-doctor-profile-submit-btn">
                        </button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="edit-doctor-profile-close-btn"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn purple-btn" (click)="clickDoctorProfileSubmitBtn()">
                    <span *ngIf="!showLoading">Save changes</span>
                    <span *ngIf="showLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                    </span>
                    <span *ngIf="showLoading"> Loading...</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- add doctor rating -->

<button [hidden]="true" id="add-doctor-rating-btn" data-bs-toggle="modal"
    data-bs-target="#add-doctor-rating-modal"></button>

<div class="modal fade" id="add-doctor-rating-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Rate & Review</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addRatingForm">
                    <div class="rating">
                        <label>Rating: </label>
                        <div class="stars" style=" width: 152px;">
                            <ngx-star-rating formControlName="rating" [id]="'rating2'"></ngx-star-rating>
                        </div>
                    </div>
                    <div class="review">
                        <label class="my-2">Review:</label>
                        <div class="">
                            <textarea formControlName="review" class="form-control" id="message" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="add-rating-modal-close-btn" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn purple-btn" [disabled]="addRatingForm.invalid"
                    (click)="addRating()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- edit doctor rating -->

<button [hidden]="true" id="edit-doctor-rating-btn" data-bs-toggle="modal"
    data-bs-target="#edit-doctor-rating-modal"></button>

<div class="modal fade" id="edit-doctor-rating-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Rate & Review</h4>
                <button type="button" id="edit-rating-modal-close-btn" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editRatingForm">
                    <div class="rating">
                        <label>Rating: </label>
                        <div class="stars" style=" width: 152px;">
                            <ngx-star-rating formControlName="rating" [id]="'rating3'"></ngx-star-rating>
                        </div>
                    </div>
                    <div class="review">
                        <label class="my-2">Review:</label>
                        <div class="">
                            <textarea formControlName="review" class="form-control" id="message" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="rating-form-close-btn" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="deleteRating()">Delete</button>
                <button type="button" class="btn purple-btn" [disabled]="editRatingForm.invalid"
                    (click)="editRating()">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>